<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freijer.app.dropwords">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Словопадения"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GameStart">
            <intent-filter>
                <action android:name=".GameStart" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetingsActivity"
            android:parentActivityName=".GameStart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameStart" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>